{% extends 'layouts/base.html' %}

{% load widget_tweaks %}

{% block content %}

<!-- component -->
<div class="max-w-2xl mx-auto bg-white p-16">
    <div class="flex justify-center mb-6">
        <img src="https://cdn-icons-png.flaticon.com/512/1044/1044967.png" alt="Logo" class="h-16">
    </div>
    <h2 class="text-2xl font-bold mb-4 text-center">Añadir Producto</h2>

    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        <div class="grid gap-6 mb-6 lg:grid-cols-2">
            <div class="mb-6">
                <label for="{{form.nombre.id_for_label}}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Nombre del Producto</label>
                {{ form.nombre|attr:"class:w-full border rounded py-2 px-3 focus:outline-none focus:ring-2 focus:ring-blue-500" }}
                {% for error in form.nombre.errors %}
                    <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="mb-6">
                <label for="{{form.marca.id_for_label}}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Marca</label>
                {{ form.marca|attr:"class:w-full border rounded py-2 px-3 focus:outline-none focus:ring-2 focus:ring-blue-500" }}
                {% for error in form.marca.errors %}
                    <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="mb-6">
                <label for="{{form.categoria.id_for_label}}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Categoria</label>
                {{ form.categoria|attr:"class:w-full border rounded py-2 px-3 focus:outline-none focus:ring-2 focus:ring-blue-500" }}
                {% for error in form.categoria.errors %}
                    <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="mb-6">
                <label for="{{form.proveedor.id_for_label}}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Proveedor</label>
                {{ form.proveedor|attr:"class:w-full border rounded py-2 px-3 focus:outline-none focus:ring-2 focus:ring-blue-500" }}
                {% for error in form.proveedor.errors %}
                    <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="mb-6">
                <label for="{{form.costo.id_for_label}}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Costo</label>
                {{ form.costo|attr:"class:w-full border rounded py-2 px-3 focus:outline-none focus:ring-2 focus:ring-blue-500" }}
                {% for error in form.costo.errors %}
                    <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="mb-6">
                <label for="{{form.precio.id_for_label}}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Precio</label>
                {{ form.precio|attr:"class:w-full border rounded py-2 px-3 focus:outline-none focus:ring-2 focus:ring-blue-500" }}
                {% for error in form.precio.errors %}
                    <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="mb-6 flex items-center">
            <input type="checkbox" id="{{ form.activo.id_for_label }}" name="{{ form.activo.html_name }}"
                    {% if form.activo.value %}checked{% endif %}
                    class="w-5 h-5 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2" />
            <label for="{{ form.activo.id_for_label }}" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                Activo
            </label>
        </div>

        <div class="mb-6">
            <label for="{{form.descripcion.id_for_label}}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Descripción</label>
            {{ form.descripcion|attr:"class:w-full border rounded py-2 px-3 focus:outline-none focus:ring-2 focus:ring-blue-500" }}
            {% for error in form.descripcion.errors %}
                <p class="text-red-500 text-sm mt-1">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="mb-6">
            <label for="{{form.imagen.id_for_label}}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Imagen del Producto</label>
            {{ form.imagen|attr:"class:w-full border rounded py-2 px-3 focus:outline-none focus:ring-2 focus:ring-blue-500" }}
            {% for error in form.imagen.errors %}
                <p class="text-red-500 text-sm mt-1">{{ error }}</p>
            {% endfor %}
        </div>

        <button type="submit" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
            Guardar Producto
        </button>
    </form>
</div>

{% endblock %}
